@media screen and (min-width: 768px) and (max-width: 992px) {
    body {
        display: flex;
        justify-content: center;
        align-items: center;
    
    }

    div.container {
        max-width: 73.75em;   
    }

    div.container section {
        padding: 2.3em;
    }

    section.card_join_community {
        height: 13.75em;
    }

    section.card_join_community > article > h1.title_card_comunity {
        font-size: 1.6em;
    }

    section.card_join_community > article > p.card_text-guarantee {
        font-size: 1.2em;
    }

    section.card_join_community article > p {
        font-size: 1.10em;
    }

    div.container_card {
        display: flex;
        height: 15.625em;
    }

    div.container_card > section.card_monthly_Subscription {
        width: 50%; 
    }

    section.card_monthly_Subscription h2.title_card_Subscription {
        font-size: 1.4em;
    }

    section.card_monthly_Subscription p.card__text_access {
        font-size: 1.10em;
        padding-bottom: 1.65em;
    }

    div.container_card > section.card_community_coding {
        width: 50%;
    }

    section.card_community_coding h2.card_title_community_coding {
        font-size: 1.4em;
        padding-bottom: 1em;
    }
}

@media screen and (min-width: 992px) and (max-width: 1200px) {
    body {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    div.container {
        max-width: 50em;   
    }

    div.container section {
        padding: 3em;
    }

    section.card_join_community {
        height: 15em;
    }

    section.card_join_community > article > h1.title_card_comunity {
        font-size: 1.7em;
    }

    section.card_join_community > article > p.card_text-guarantee {
        font-size: 1.3em;
    }

    section.card_join_community article > p {
        font-size: 1.2em;
    }

    div.container_card {
        display: flex;
        height: 17.5em;
    }

    div.container_card > section.card_monthly_Subscription {
        width: 50%; 
    }

    section.card_monthly_Subscription h2.title_card_Subscription {
        font-size: 1.42em;
    }
    section.card_monthly_Subscription p.card__text_access {
        font-size: 1.1em;
        padding-bottom: 1.8em;
    }

    div.container_card > section.card_community_coding {
        width: 50%;
    }
    section.card_community_coding h2.card_title_community_coding {
        font-size: 1.42em;
    }

    section.card_community_coding p {
        font-size: 1.1em;
    }
}


@media screen and (min-width: 1200px) {
    body {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    div.container {
        max-width: 53.125em;   
    }

    div.container section {
        padding: 3em;
    }

    section.card_join_community > article > h1.title_card_comunity {
        font-size: 2em;
    }

    section.card_join_community > article > p.card_text-guarantee {
        font-size: 1.4em;
    }

    section.card_join_community article > p {
        font-size: 1.3em;
    }

    div.container_card {
        display: flex;
        height: 17.5em;
    }

    div.container_card > section.card_monthly_Subscription {
        width: 50%; 
    }

    section.card_monthly_Subscription h2.title_card_Subscription {
        font-size: 1.57em;
    }

    section.card_monthly_Subscription p.card__text_access {
        font-size: 1.12em;
        padding-bottom: 1.8em;
    }

    div.container_card > section.card_community_coding {
        width: 50%;
    }

    section.card_community_coding h2.card_title_community_coding {
        font-size: 1.57em;
    }

    section.card_community_coding p {
        font-size: 1.12em;
    }
}
